{% extends "base.html" %}
{% block title %}Library{% endblock %}
{% block content %}
<div class="container mt-4">
  <!-- Search Bar -->
  <div class="input-group mb-3">
    <form class="d-flex">
      <input type="text" class="form-control" placeholder="Search books..." aria-label="Search books"
          aria-describedby="basic-addon2" name="searchby">
      <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
      </div>
      <a href="{{ url_for('home') }}" class="btn btn-light">clear</a>
    </form>
  </div>

  <!-- Filter Options -->
  <div class="row mb-4">
      <div class="col-md-6">
          <!-- Add filter options here -->
          <form class="d-flex">
          <label for="filterCategory">Filter by Category:</label>
          <select class="form-control" id="filterCategory" name="searchby">
              <option>All Categories</option>
            {% for section in filter_sections %}
              <option value="{{section.title}}">{{section.title}}</option>
            {% endfor %}
          </select>
          <button class="btn btn-outline-secondary" type="submit">filter</button>
        </form>
      </div>
  </div>

  <!-- Display Books and Sections -->
  <div class="row">
      <div class="col-md-8">
          <h2>Books</h2>
          <div class="row row-cols-1 row-cols-md-2 g-4">
            {% if books|length > 0 %}
            {% for book in books %}
              <div class="col">
                  <div class="card" style="width: 18rem;">
                      <img src="{{'data:image/jpeg;base64,' + book.image}}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{url_for('get_pdf', id=book.id)}}" class="btn btn-primary">View book</a>
                      </div>
                  </div>
              </div>
            {% endfor %}
            {% else %}
            <p>No books found.</p>
            {% endif %}
          </div>
      </div>
  </div>
</div>
{% endblock %}
